/target
/.settings
*.class
*.classpath
*.project
*.iml
.*
target/
jsclient/
eclipse-target/
**/src/generated/
**/tmp/
#Special case only in docgen cause README is copied to modules
**/README.asciidoc

# Package Files #
*.jar
*.war
*.ear
