*.class
*.classpath
*.project
*.iml
*.jar
*.war
*.ear
.*
!.gitignore
!.travis.yml
!.mvn
target/
eclipse-target/
**/src/generated/
**/tmp/

#Special case only in docgen cause documentation is copied to modules
all/documentation
pdf/documentation
init/documentation
html/documentation
